<div class="announcement-container">
  <div class="announcement-title">
    {{title}}
  </div>
  <div class="announcement-content">
    {{content}}
  </div>
  <div class="announcement-images">
    {{url}}
    {{url2}}
  </div>
  <div class="announcement-author">
  <p class="announcement-sig">Post By: </p>  {{author}}
  </div>

</div>
